.body {
    margin: 0;
    font-family: "-webkit-system-font","Helvetica Neue",Helvetica,sans-serif;
    color: #e90303;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 50px;
}

nav {
    margin-right: 1000px;    
    max-width: 1440px;
}

.navbar-nav {
    display: flex;
}

.navbar-nav li:not(:last-child){
    margin-right: 60px;
}

.header {
    margin: auto;
}

.logo img {
    width: 120px;
}